@model PROJETOMVC.Models.Contato

@{
    ViewData["Title"] = "Detalhes do contato";
}

<h1>Detalhes</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Nome)
        </dt>
        <dt class="coll-sm-10">
            @Html.DisplayNameFor(x => x.Nome)
        </dt>
            <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Telefone)
        </dt>
        <dt class="coll-sm-10">
            @Html.DisplayNameFor(x => x.Telefone)
        </dt>    <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Ativo)
        </dt>
        <dt class="coll-sm-10">
            @Html.DisplayNameFor(x => x.Ativo)
        </dt>

    </dl>
</div>
<a asp-action="Editar"asp-all-route-id="@Model.Id">Editar</a>
<a asp-action="Index">Voltar</a>